{% extends "base.html" %}

{% block page_content %}
<h2>Cadastro de Cursos</h2>

<form method="POST" class="mb-4">
    <div class="form-group">
        <label for="nome">Qual é o nome do curso?</label>
        <input type="text" name="nome" id="nome" class="form-control">
    </div>

    <div class="form-group mt-2">
        <label for="descricao">Descrição (250 caracteres)</label>
        <textarea name="descricao" id="descricao" class="form-control" rows="4" maxlength="250"></textarea>
    </div>

    <div class="mt-2">
        <button class="btn btn-primary" type="submit">Cadastrar</button>
    </div>
</form>

<h3>Relação de cursos cadastrados</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Curso</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        {% for c in cursos %}
        <tr>
            <td>{{ c.nome }}</td>
            <td>{{ c.descricao }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
