{% extends "base.html" %}

{% block page_content %}
<h2>Cadastro de Cursos</h2>

<form method="POST">
    <div class="form-group">
        <label>Qual é o nome do curso?</label>
        <input type="text" name="nome" class="form-control">
    </div>

    <div class="form-group">
        <label>Descrição (250 caracteres)</label>
        <textarea name="descricao" class="form-control" rows="3" maxlength="250"></textarea>
    </div>

    <button class="btn btn-primary">Cadastrar</button>
</form>

<h3 class="mt-4">Relação de cursos cadastrados</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Curso</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        {% for c in cursos %}
        <tr>
            <td>{{ c.nome }}</td>
            <td>{{ c.descricao }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
